.byebug_history
.DS_Store
.idea

coverage
pkg
public

tmp/**/*
*.bundle
*.orig
*.swp

Gemfile.lock
gemfiles/*.lock

integration/Gemfile.lock
integration/gemfiles/*.lock

/config/*
!/config/.keep

.claude
